USE [master]
GO
/****** Object:  Database [SAT242516046]    Script Date: 22.12.2025 17:38:42 ******/
CREATE DATABASE [SAT242516046]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAT242516046', FILENAME = N'/var/opt/mssql/data/SAT242516046.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAT242516046_log', FILENAME = N'/var/opt/mssql/data/SAT242516046_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAT242516046].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAT242516046]
GO
/****** Object:  UserDefinedDataType [dbo].[ParaBirimi]    Script Date: 22.12.2025 17:38:42 ******/
CREATE TYPE [dbo].[ParaBirimi] FROM [decimal](18, 2) NULL
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 22.12.2025 17:38:42 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Departman] [nvarchar](50) NULL,
	[BrutMaas] [decimal](10, 2) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaasHesaplama]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaasHesaplama](
	[HesapID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Donem] [nvarchar](10) NOT NULL,
	[Prim] [decimal](10, 2) NULL,
	[Kesinti] [decimal](10, 2) NULL,
	[NetMaas] [decimal](10, 2) NOT NULL,
	[HesapTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_PersonelBordroOzeti]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. ÖNCE VIEW'I GÜNCELLEYELİM (SonNetMaas BURADAN GELİYOR)
CREATE   VIEW [dbo].[v_PersonelBordroOzeti]
AS
SELECT 
    p.PersonelID,
    p.Ad,
    p.Soyad,
    p.Email,
    p.Telefon,
    p.Departman,
    p.BrutMaas,
    -- İşte aranan sütunlar burası:
    (SELECT TOP 1 m.NetMaas FROM MaasHesaplama m WHERE m.PersonelID = p.PersonelID ORDER BY m.Donem DESC) AS SonNetMaas,
    (SELECT TOP 1 m.Donem FROM MaasHesaplama m WHERE m.PersonelID = p.PersonelID ORDER BY m.Donem DESC) AS SonMaasDonemi
FROM Personel p;
GO
/****** Object:  Table [dbo].[Izin]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izin](
	[IzinID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NOT NULL,
	[IzinTuru] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IzinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[SifreHash] [nvarchar](256) NOT NULL,
	[RolID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loglar]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loglar](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Seviye] [nvarchar](20) NOT NULL,
	[Mesaj] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NULL,
	[KullaniciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NULL,
	[Level] [nvarchar](50) NULL,
	[Category] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[RowId] [sql_variant] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ActionType] [nvarchar](50) NULL,
	[ActionDateTime] [datetime] NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RolAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaasHesaplama_PersonelID]    Script Date: 22.12.2025 17:38:42 ******/
CREATE NONCLUSTERED INDEX [IX_MaasHesaplama_PersonelID] ON [dbo].[MaasHesaplama]
(
	[PersonelID] ASC
)
INCLUDE([Donem],[NetMaas]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personel_AdSoyad]    Script Date: 22.12.2025 17:38:42 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_AdSoyad] ON [dbo].[Personel]
(
	[Ad] ASC,
	[Soyad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personel_Departman]    Script Date: 22.12.2025 17:38:42 ******/
CREATE NONCLUSTERED INDEX [IX_Personel_Departman] ON [dbo].[Personel]
(
	[Departman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loglar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  CONSTRAINT [DF_Logs_Table_ActionDateTime]  DEFAULT (getdate()) FOR [ActionDateTime]
GO
ALTER TABLE [dbo].[MaasHesaplama] ADD  DEFAULT ((0)) FOR [Prim]
GO
ALTER TABLE [dbo].[MaasHesaplama] ADD  DEFAULT ((0)) FOR [Kesinti]
GO
ALTER TABLE [dbo].[MaasHesaplama] ADD  DEFAULT (getdate()) FOR [HesapTarihi]
GO
ALTER TABLE [dbo].[Izin]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[Loglar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[MaasHesaplama]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
/****** Object:  StoredProcedure [dbo].[sp_Izin_EkleGuncelleSil]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Izin_EkleGuncelleSil]
    @operation VARCHAR(10),
    @jsonvalues NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * INTO #tempIzin
    FROM OPENJSON(@jsonvalues)
    WITH (
        IzinID INT '$.IzinID',
        PersonelID INT '$.PersonelID',
        BaslangicTarihi DATE '$.BaslangicTarihi',
        BitisTarihi DATE '$.BitisTarihi',
        IzinTuru NVARCHAR(50) '$.IzinTuru'
    );

    DECLARE @rowcount INT = 0;

    IF @operation = 'add'
    BEGIN
        INSERT INTO Izin (PersonelID, BaslangicTarihi, BitisTarihi, IzinTuru)
        SELECT PersonelID, BaslangicTarihi, BitisTarihi, IzinTuru FROM #tempIzin;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'update'
    BEGIN
        UPDATE i
        SET 
            i.PersonelID = t.PersonelID,
            i.BaslangicTarihi = t.BaslangicTarihi,
            i.BitisTarihi = t.BitisTarihi,
            i.IzinTuru = t.IzinTuru
        FROM Izin i
        JOIN #tempIzin t ON i.IzinID = t.IzinID;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'remove'
    BEGIN
        DELETE i
        FROM Izin i
        JOIN #tempIzin t ON i.IzinID = t.IzinID;
        SET @rowcount = @@ROWCOUNT;
    END

    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Izin_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LİSTELEME PROSEDÜRÜ
CREATE   PROCEDURE [dbo].[sp_Izin_Listele]
    @pagination Type_Dictionary_String_String READONLY,
    @where Type_Dictionary_String_String READONLY
AS
BEGIN
    SELECT 
        i.IzinID,
        i.PersonelID,
        p.Ad + ' ' + p.Soyad AS PersonelAdSoyad,
        i.BaslangicTarihi,
        i.BitisTarihi,
        i.IzinTuru,
        DATEDIFF(day, i.BaslangicTarihi, i.BitisTarihi) + 1 AS GunSayisi
    FROM Izin i
    INNER JOIN Personel p ON i.PersonelID = p.PersonelID
    ORDER BY i.BaslangicTarihi DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kullanici_EkleGuncelleSil]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. KULLANICI İŞLEMLERİ
CREATE   PROCEDURE [dbo].[sp_Kullanici_EkleGuncelleSil]
    @operation VARCHAR(10),
    @jsonvalues NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    -- JSON'dan verileri al (SifreHash boş gelirse güncellemede dokunmayacağız)
    SELECT * INTO #tempKul FROM OPENJSON(@jsonvalues) 
    WITH (KullaniciID INT '$.KullaniciID', KullaniciAdi NVARCHAR(50) '$.KullaniciAdi', SifreHash NVARCHAR(256) '$.SifreHash', RolID INT '$.RolID');
    DECLARE @rowcount INT = 0;

    IF @operation = 'add' BEGIN
        INSERT INTO Kullanici (KullaniciAdi, SifreHash, RolID) SELECT KullaniciAdi, SifreHash, RolID FROM #tempKul; SET @rowcount = @@ROWCOUNT;
    END
    IF @operation = 'update' BEGIN
        UPDATE k
        SET k.KullaniciAdi = t.KullaniciAdi, k.RolID = t.RolID,
            -- Şifre alanı boş değilse güncelle, boşsa eski şifre kalsın
            k.SifreHash = CASE WHEN t.SifreHash IS NOT NULL AND t.SifreHash <> '' THEN t.SifreHash ELSE k.SifreHash END
        FROM Kullanici k JOIN #tempKul t ON k.KullaniciID = t.KullaniciID;
        SET @rowcount = @@ROWCOUNT;
    END
    IF @operation = 'remove' BEGIN
        DELETE k FROM Kullanici k JOIN #tempKul t ON k.KullaniciID = t.KullaniciID; SET @rowcount = @@ROWCOUNT;
    END
    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Kullanici_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Kullanici_Listele]
    @pagination Type_Dictionary_String_String READONLY, @where Type_Dictionary_String_String READONLY
AS
BEGIN
    SELECT k.KullaniciID, k.KullaniciAdi, k.RolID, r.RolAdi, '***' AS SifreHash -- Güvenlik için şifreyi maskeli gönderiyoruz
    FROM Kullanici k INNER JOIN Rol r ON k.RolID = r.RolID ORDER BY k.KullaniciAdi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Logs_Table_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Logs_Table_Listele]
    @pagination Type_Dictionary_String_String READONLY,
    @where Type_Dictionary_String_String READONLY
AS
BEGIN
    -- Sadece son 500 kaydı çekiyoruz ki sayfa donmasın
    SELECT TOP 500 
        Id,
        TableName,
        ActionType,
        ActionDateTime,
        LEFT(OldValue, 50) + '...' AS OldValue,
        LEFT(NewValue, 50) + '...' AS NewValue
    FROM Logs_Table
    ORDER BY ActionDateTime DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Maas_EkleGuncelleSil]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. MAAŞ EKLEME/GÜNCELLEME/SİLME PROSEDÜRÜ (Otomatik Hesaplamalı)
CREATE   PROCEDURE [dbo].[sp_Maas_EkleGuncelleSil]
    @operation VARCHAR(10),
    @jsonvalues NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * INTO #tempMaas 
    FROM OPENJSON(@jsonvalues)
    WITH (
        HesapID INT '$.HesapID',
        PersonelID INT '$.PersonelID',
        Donem NVARCHAR(10) '$.Donem',
        Prim DECIMAL(10,2) '$.Prim',
        Kesinti DECIMAL(10,2) '$.Kesinti'
    );

    DECLARE @rowcount INT = 0;
    
    -- Hesaplama için değişkenler
    DECLARE @PersonelBrut DECIMAL(10,2);
    DECLARE @NetMaas DECIMAL(10,2);

    IF @operation IN ('add', 'update')
    BEGIN
        -- 1. Personelin güncel brüt maaşını bul
        SELECT @PersonelBrut = BrutMaas 
        FROM Personel 
        WHERE PersonelID = (SELECT PersonelID FROM #tempMaas);

        -- 2. Net Maaş Hesapla (Basit Formül: Brüt + Prim - Kesinti)
        -- Not: Gerçek hayatta vergi dilimi vs. olur ama okul projesi için bu yeterli.
        SELECT @NetMaas = (@PersonelBrut + ISNULL(Prim,0) - ISNULL(Kesinti,0))
        FROM #tempMaas;
    END

    IF @operation = 'add'
    BEGIN
        INSERT INTO MaasHesaplama (PersonelID, Donem, Prim, Kesinti, NetMaas)
        SELECT PersonelID, Donem, ISNULL(Prim,0), ISNULL(Kesinti,0), @NetMaas 
        FROM #tempMaas;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'update'
    BEGIN
        UPDATE m
        SET 
            m.PersonelID = t.PersonelID,
            m.Donem = t.Donem,
            m.Prim = ISNULL(t.Prim, 0),
            m.Kesinti = ISNULL(t.Kesinti, 0),
            m.NetMaas = @NetMaas -- Otomatik hesaplanan değer
        FROM MaasHesaplama m
        JOIN #tempMaas t ON m.HesapID = t.HesapID;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'remove'
    BEGIN
        DELETE m
        FROM MaasHesaplama m
        JOIN #tempMaas t ON m.HesapID = t.HesapID;
        SET @rowcount = @@ROWCOUNT;
    END

    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Maas_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. MAAŞ LİSTELEME PROSEDÜRÜ
CREATE   PROCEDURE [dbo].[sp_Maas_Listele]
    @pagination Type_Dictionary_String_String READONLY,
    @where Type_Dictionary_String_String READONLY
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        m.HesapID,
        m.PersonelID,
        p.Ad + ' ' + p.Soyad AS PersonelAdSoyad, -- Listede isim görünsün diye
        p.Departman,
        p.BrutMaas AS GuncelBrutMaas,
        m.Donem,
        m.Prim,
        m.Kesinti,
        m.NetMaas,
        m.HesapTarihi
    FROM MaasHesaplama m
    INNER JOIN Personel p ON m.PersonelID = p.PersonelID
    ORDER BY m.Donem DESC, p.Ad ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Personel_EkleGuncelleSil]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Personel_EkleGuncelleSil]
    @operation VARCHAR(10),
    @jsonvalues NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- JSON şemasına Email ve Telefon eklendi
    SELECT *
    INTO #tempPersonel
    FROM OPENJSON(@jsonvalues)
    WITH (
        PersonelID INT '$.PersonelID',
        Ad NVARCHAR(50) '$.Ad',
        Soyad NVARCHAR(50) '$.Soyad',
        Departman NVARCHAR(50) '$.Departman',
        BrutMaas DECIMAL(10,2) '$.BrutMaas',
        Email NVARCHAR(100) '$.Email',     -- YENİ
        Telefon NVARCHAR(20) '$.Telefon'   -- YENİ
    );

    DECLARE @rowcount INT = 0;

    IF @operation = 'add'
    BEGIN
        INSERT INTO Personel (Ad, Soyad, Departman, BrutMaas, Email, Telefon)
        SELECT Ad, Soyad, Departman, BrutMaas, Email, Telefon FROM #tempPersonel;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'update'
    BEGIN
        UPDATE p
        SET 
            p.Ad = t.Ad,
            p.Soyad = t.Soyad,
            p.Departman = t.Departman,
            p.BrutMaas = t.BrutMaas,
            p.Email = t.Email,       -- YENİ
            p.Telefon = t.Telefon    -- YENİ
        FROM #tempPersonel t
        JOIN Personel p ON t.PersonelID = p.PersonelID;
        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'remove'
    BEGIN
        DELETE FROM Izin WHERE PersonelID IN (SELECT PersonelID FROM #tempPersonel);
        DELETE FROM MaasHesaplama WHERE PersonelID IN (SELECT PersonelID FROM #tempPersonel);
        
        DELETE p
        FROM #tempPersonel t
        JOIN Personel p ON t.PersonelID = p.PersonelID;
        
        SET @rowcount = @@ROWCOUNT;
    END

    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Personel_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. ŞİMDİ PROSEDÜRÜ BU VIEW'A BAĞLAYALIM
CREATE   PROCEDURE [dbo].[sp_Personel_Listele]
    @pagination Type_Dictionary_String_String READONLY, 
    @where Type_Dictionary_String_String READONLY
AS
BEGIN
    -- Artık Tablodan değil, yukarıdaki VIEW'dan çekiyoruz
    SELECT * FROM v_PersonelBordroOzeti ORDER BY PersonelID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rol_EkleGuncelleSil]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. ROL İŞLEMLERİ
CREATE   PROCEDURE [dbo].[sp_Rol_EkleGuncelleSil]
    @operation VARCHAR(10),
    @jsonvalues NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * INTO #tempRol FROM OPENJSON(@jsonvalues) WITH (RolID INT '$.RolID', RolAdi NVARCHAR(50) '$.RolAdi');
    DECLARE @rowcount INT = 0;

    IF @operation = 'add' BEGIN
        INSERT INTO Rol (RolAdi) SELECT RolAdi FROM #tempRol; SET @rowcount = @@ROWCOUNT;
    END
    IF @operation = 'update' BEGIN
        UPDATE r SET r.RolAdi = t.RolAdi FROM Rol r JOIN #tempRol t ON r.RolID = t.RolID; SET @rowcount = @@ROWCOUNT;
    END
    IF @operation = 'remove' BEGIN
        DELETE r FROM Rol r JOIN #tempRol t ON r.RolID = t.RolID; SET @rowcount = @@ROWCOUNT;
    END
    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Rol_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Rol_Listele]
    @pagination Type_Dictionary_String_String READONLY, @where Type_Dictionary_String_String READONLY
AS
BEGIN
    SELECT * FROM Rol ORDER BY RolAdi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SystemLogs_Listele]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SystemLogs_Listele]
    @pagination Type_Dictionary_String_String READONLY,
    @where Type_Dictionary_String_String READONLY
AS
BEGIN
    -- Sitenin donmaması için son 1000 logu getiriyoruz.
    -- Zaten 1 yıl önceki logu kimse merak etmez.
    SELECT TOP 1000 
        Id,
        [Timestamp], -- Veya Date, kolon adın neyse
        [Level],
        [Category],  -- Veya Logger
        [Message],
        [Exception]
    FROM Logs
    ORDER BY [Timestamp] DESC;
END
GO
/****** Object:  Trigger [dbo].[Trg_Izin_Takip_JSON]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[Trg_Izin_Takip_JSON]
ON [dbo].[Izin]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @tableName NVARCHAR(100) = 'Izin';

    INSERT INTO Logs_Table (TableName, RowId, ActionType, OldValue, NewValue)
    SELECT 
        @tableName,
        COALESCE(i.IzinID, d.IzinID),
        CASE
            WHEN i.IzinID IS NOT NULL AND d.IzinID IS NULL THEN 'Insert'
            WHEN i.IzinID IS NOT NULL AND d.IzinID IS NOT NULL THEN 'Update'
            WHEN i.IzinID IS NULL AND d.IzinID IS NOT NULL THEN 'Delete'
        END,
        (SELECT * FROM deleted d2 WHERE d2.IzinID = d.IzinID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT * FROM inserted i2 WHERE i2.IzinID = i.IzinID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
    FROM inserted i
    FULL OUTER JOIN deleted d ON i.IzinID = d.IzinID;
END
GO
ALTER TABLE [dbo].[Izin] ENABLE TRIGGER [Trg_Izin_Takip_JSON]
GO
/****** Object:  Trigger [dbo].[Trg_Kullanici_Takip_JSON]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[Trg_Kullanici_Takip_JSON]
ON [dbo].[Kullanici]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @tableName NVARCHAR(100) = 'Kullanici';

    INSERT INTO Logs_Table (TableName, RowId, ActionType, OldValue, NewValue)
    SELECT 
        @tableName,
        COALESCE(i.KullaniciID, d.KullaniciID),
        CASE
            WHEN i.KullaniciID IS NOT NULL AND d.KullaniciID IS NULL THEN 'Insert'
            WHEN i.KullaniciID IS NOT NULL AND d.KullaniciID IS NOT NULL THEN 'Update'
            WHEN i.KullaniciID IS NULL AND d.KullaniciID IS NOT NULL THEN 'Delete'
        END,
        (SELECT * FROM deleted d2 WHERE d2.KullaniciID = d.KullaniciID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT * FROM inserted i2 WHERE i2.KullaniciID = i.KullaniciID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
    FROM inserted i
    FULL OUTER JOIN deleted d ON i.KullaniciID = d.KullaniciID;
END
GO
ALTER TABLE [dbo].[Kullanici] ENABLE TRIGGER [Trg_Kullanici_Takip_JSON]
GO
/****** Object:  Trigger [dbo].[tr_Maas_Takip]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger 2: Maaş Takip
CREATE TRIGGER [dbo].[tr_Maas_Takip]
ON [dbo].[MaasHesaplama]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @PersonelAdSoyad NVARCHAR(100);
    DECLARE @Donem NVARCHAR(20);
    DECLARE @NetMaas DECIMAL(18,2);

    SELECT 
        @PersonelAdSoyad = p.Ad + ' ' + p.Soyad,
        @Donem = i.Donem,
        @NetMaas = i.NetMaas
    FROM inserted i
    JOIN Personel p ON i.PersonelID = p.PersonelID;

    INSERT INTO Loglar (Seviye, Mesaj, Tarih)
    VALUES ('Info', 'Maaş Hesaplandı: ' + @PersonelAdSoyad + ' için ' + @Donem + ' dönemi.', GETDATE());
END
GO
ALTER TABLE [dbo].[MaasHesaplama] ENABLE TRIGGER [tr_Maas_Takip]
GO
/****** Object:  Trigger [dbo].[Trg_MaasHesaplama_Takip_JSON]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[Trg_MaasHesaplama_Takip_JSON]
ON [dbo].[MaasHesaplama]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @tableName NVARCHAR(100) = 'MaasHesaplama';

    INSERT INTO Logs_Table (TableName, RowId, ActionType, OldValue, NewValue)
    SELECT 
        @tableName,
        COALESCE(i.HesapID, d.HesapID),
        CASE
            WHEN i.HesapID IS NOT NULL AND d.HesapID IS NULL THEN 'Insert'
            WHEN i.HesapID IS NOT NULL AND d.HesapID IS NOT NULL THEN 'Update'
            WHEN i.HesapID IS NULL AND d.HesapID IS NOT NULL THEN 'Delete'
        END,
        (SELECT * FROM deleted d2 WHERE d2.HesapID = d.HesapID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT * FROM inserted i2 WHERE i2.HesapID = i.HesapID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
    FROM inserted i
    FULL OUTER JOIN deleted d ON i.HesapID = d.HesapID;
END
GO
ALTER TABLE [dbo].[MaasHesaplama] ENABLE TRIGGER [Trg_MaasHesaplama_Takip_JSON]
GO
/****** Object:  Trigger [dbo].[tr_Personel_Takip]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 7. TRIGGERS (TETİKLEYİCİLER)
-- =============================================

-- Trigger 1: Personel Takip
CREATE TRIGGER [dbo].[tr_Personel_Takip]
ON [dbo].[Personel]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @IslemTuru NVARCHAR(50);
    DECLARE @Mesaj NVARCHAR(MAX);

    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        SET @IslemTuru = 'GÜNCELLEME';
        SELECT @Mesaj = 'Personel Güncellendi: ' + Ad + ' ' + Soyad FROM inserted;
    END
    ELSE IF EXISTS (SELECT * FROM inserted)
    BEGIN
        SET @IslemTuru = 'EKLEME';
        SELECT @Mesaj = 'Yeni Personel Eklendi: ' + Ad + ' ' + Soyad FROM inserted;
    END
    ELSE IF EXISTS (SELECT * FROM deleted)
    BEGIN
        SET @IslemTuru = 'SİLME';
        SELECT @Mesaj = 'Personel Silindi: ' + Ad + ' ' + Soyad FROM deleted;
    END

    IF @IslemTuru IS NOT NULL
    BEGIN
        INSERT INTO Loglar (Seviye, Mesaj, Tarih)
        VALUES ('Info', @IslemTuru + ' işlemi yapıldı. -> ' + @Mesaj, GETDATE());
    END
END
GO
ALTER TABLE [dbo].[Personel] ENABLE TRIGGER [tr_Personel_Takip]
GO
/****** Object:  Trigger [dbo].[Trg_Personel_Takip_JSON]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Personel_Takip_JSON]
ON [dbo].[Personel]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tableName NVARCHAR(100) = 'Personel';

    -- Değişken atamak yerine direkt set-based işlem yapıyoruz
    INSERT INTO Logs_Table (TableName, RowId, ActionType, OldValue, NewValue)
    SELECT 
        @tableName,
        COALESCE(i.PersonelID, d.PersonelID),
        CASE
            WHEN i.PersonelID IS NOT NULL AND d.PersonelID IS NULL THEN 'Insert'
            WHEN i.PersonelID IS NOT NULL AND d.PersonelID IS NOT NULL THEN 'Update'
            WHEN i.PersonelID IS NULL AND d.PersonelID IS NOT NULL THEN 'Delete'
        END,
        -- Her satır için özel JSON üretimi
        (SELECT * FROM deleted d2 WHERE d2.PersonelID = d.PersonelID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT * FROM inserted i2 WHERE i2.PersonelID = i.PersonelID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
    FROM inserted i
    FULL OUTER JOIN deleted d ON i.PersonelID = d.PersonelID;
END
GO
ALTER TABLE [dbo].[Personel] ENABLE TRIGGER [Trg_Personel_Takip_JSON]
GO
/****** Object:  Trigger [dbo].[Trg_Rol_Takip_JSON]    Script Date: 22.12.2025 17:38:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[Trg_Rol_Takip_JSON]
ON [dbo].[Rol]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @tableName NVARCHAR(100) = 'Rol';

    INSERT INTO Logs_Table (TableName, RowId, ActionType, OldValue, NewValue)
    SELECT 
        @tableName,
        COALESCE(i.RolID, d.RolID),
        CASE
            WHEN i.RolID IS NOT NULL AND d.RolID IS NULL THEN 'Insert'
            WHEN i.RolID IS NOT NULL AND d.RolID IS NOT NULL THEN 'Update'
            WHEN i.RolID IS NULL AND d.RolID IS NOT NULL THEN 'Delete'
        END,
        (SELECT * FROM deleted d2 WHERE d2.RolID = d.RolID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER),
        (SELECT * FROM inserted i2 WHERE i2.RolID = i.RolID FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
    FROM inserted i
    FULL OUTER JOIN deleted d ON i.RolID = d.RolID;
END
GO
ALTER TABLE [dbo].[Rol] ENABLE TRIGGER [Trg_Rol_Takip_JSON]
GO
USE [master]
GO
