USE [master]
GO
/****** Object:  Database [SAT242516033]    Script Date: 24.12.2025 17:28:44 ******/
CREATE DATABASE [SAT242516033]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAT242516033', FILENAME = N'/var/opt/mssql/data/SAT242516033.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAT242516033_log', FILENAME = N'/var/opt/mssql/data/SAT242516033_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAT242516033].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAT242516033]
GO
/****** Object:  UserDefinedDataType [dbo].[DurumType]    Script Date: 24.12.2025 17:28:44 ******/
CREATE TYPE [dbo].[DurumType] FROM [nvarchar](30) NOT NULL
GO
/****** Object:  UserDefinedTableType [dbo].[tt_SiparisDetay]    Script Date: 24.12.2025 17:28:44 ******/
CREATE TYPE [dbo].[tt_SiparisDetay] AS TABLE(
	[UrunId] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
	UNIQUE NONCLUSTERED 
(
	[UrunId] ASC
)WITH (IGNORE_DUP_KEY = OFF),
	CHECK (([BirimFiyat]>=(0))),
	CHECK (([Miktar]>(0)))
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 24.12.2025 17:28:44 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Soyad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[SiparisTarihi] [datetime2](7) NOT NULL,
	[Durum] [dbo].[DurumType] NOT NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_SiparisDetaylari] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisOzet_Indexed]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SiparisOzet_Indexed]
WITH SCHEMABINDING
AS
SELECT
    sd.SiparisId,
    COUNT_BIG(*) AS Cnt,
    SUM(CONVERT(decimal(18,2), sd.Miktar) * sd.BirimFiyat) AS ToplamTutar
FROM dbo.SiparisDetaylari AS sd
GROUP BY sd.SiparisId;
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [IX_vw_SiparisOzet_Indexed]    Script Date: 24.12.2025 17:28:44 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_vw_SiparisOzet_Indexed] ON [dbo].[vw_SiparisOzet_Indexed]
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisOzet]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_SiparisOzet]
AS
SELECT
    s.SiparisId,
    s.SiparisTarihi,
    s.Durum,
    m.MusteriId,
    CONCAT(m.Ad, ' ', m.Soyad) AS AdSoyad,
    ISNULL(x.ToplamTutar, 0) AS ToplamTutar
FROM dbo.Siparisler s
JOIN dbo.Musteriler m ON m.MusteriId = s.MusteriId
LEFT JOIN dbo.vw_SiparisOzet_Indexed x ON x.SiparisId = s.SiparisId;
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](200) NOT NULL,
	[SKU] [nvarchar](64) NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
	[StokAdet] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SiparisDetay]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SiparisDetay] AS
SELECT
  sd.SiparisDetayId,
  sd.SiparisId,
  s.SiparisTarihi,
  m.Ad + N' ' + m.Soyad AS Musteri,
  sd.UrunId,
  u.UrunAdi,
  sd.Miktar,
  sd.BirimFiyat,
  sd.Miktar * sd.BirimFiyat AS SatirTutar
FROM dbo.SiparisDetaylari sd
JOIN dbo.Siparisler  s ON s.SiparisId = sd.SiparisId
JOIN dbo.Musteriler m ON m.MusteriId = s.MusteriId
JOIN dbo.Urunler   u ON u.UrunId    = sd.UrunId;
GO
/****** Object:  View [dbo].[v_SiparisOzeti_Indexed]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_SiparisOzeti_Indexed]
WITH SCHEMABINDING
AS
SELECT
    s.SiparisId,
    COUNT_BIG(*) AS Cnt,
    SUM(ISNULL(sd.Miktar,0) * ISNULL(sd.BirimFiyat,0)) AS ToplamTutar
FROM dbo.Siparisler AS s
LEFT JOIN dbo.SiparisDetaylari AS sd ON sd.SiparisId = s.SiparisId
GROUP BY s.SiparisId;

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](128) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[KeyInfo] [nvarchar](200) NULL,
	[JsonData] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunKategorileri]    Script Date: 24.12.2025 17:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunKategorileri](
	[UrunId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
 CONSTRAINT [PK_UrunKategorileri] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC,
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 24.12.2025 17:28:44 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 24.12.2025 17:28:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 24.12.2025 17:28:45 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 24.12.2025 17:28:45 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 24.12.2025 17:28:45 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 24.12.2025 17:28:45 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 24.12.2025 17:28:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Siparisler] ADD  CONSTRAINT [DF_Siparisler_SiparisTarihi]  DEFAULT (sysdatetime()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  CONSTRAINT [DF_Siparisler_Durum]  DEFAULT (N'Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_StokAdet]  DEFAULT ((0)) FOR [StokAdet]
GO
ALTER TABLE [dbo].[Urunler] ADD  CONSTRAINT [DF_Urunler_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Siparisler] FOREIGN KEY([SiparisId])
REFERENCES [dbo].[Siparisler] ([SiparisId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Siparisler]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Urunler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Musteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([MusteriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Musteriler]
GO
ALTER TABLE [dbo].[UrunKategorileri]  WITH CHECK ADD  CONSTRAINT [FK_UrunKategorileri_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunKategorileri] CHECK CONSTRAINT [FK_UrunKategorileri_Kategoriler]
GO
ALTER TABLE [dbo].[UrunKategorileri]  WITH CHECK ADD  CONSTRAINT [FK_UrunKategorileri_Urunler] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UrunKategorileri] CHECK CONSTRAINT [FK_UrunKategorileri_Urunler]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD CHECK  (([BirimFiyat]>=(0)))
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_Musteri_Add_Update_Remove]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Musteri_Add_Update_Remove]
      @operation varchar(10)
    , @jsonvalues nvarchar(max)
AS
BEGIN
    SELECT *
    INTO #temp
    FROM OPENJSON(@jsonvalues)
    WITH
    (
        MusteriId int,
        Ad nvarchar(100),
        Soyad nvarchar(100),
        Email nvarchar(150),
        Telefon nvarchar(50)
    );

    DECLARE @rowcount int = NULL;

    IF @operation = 'add'
    BEGIN
        INSERT dbo.Musteriler (Ad, Soyad, Email, Telefon)
        SELECT Ad, Soyad, Email, Telefon
        FROM #temp;

        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'update'
    BEGIN
        UPDATE m
        SET m.Ad = t.Ad,
            m.Soyad = t.Soyad,
            m.Email = t.Email,
            m.Telefon = t.Telefon
        FROM #temp t
        JOIN dbo.Musteriler m ON m.MusteriId = t.MusteriId;

        SET @rowcount = @@ROWCOUNT;
    END

    IF @operation = 'remove'
    BEGIN
        DELETE m
        FROM #temp t
        JOIN dbo.Musteriler m ON m.MusteriId = t.MusteriId;

        SET @rowcount = @@ROWCOUNT;
    END

    SELECT @operation AS [Key],
           IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Musteriler]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Musteriler]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY
AS
BEGIN
    SELECT m.*
         , (SELECT COUNT(*) FROM dbo.Musteriler) AS TotalRecordCount
    FROM dbo.Musteriler m;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Siparis_Add_Update_Remove]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Siparis_Add_Update_Remove]
    @operation varchar(10),
    @jsonvalues nvarchar(max)
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#temp') IS NOT NULL DROP TABLE #temp;

    CREATE TABLE #temp (
        SiparisId INT,
        MusteriId INT,
        SiparisTarihi DATETIME2,
        Durum NVARCHAR(50),
        UserId NVARCHAR(450)
    );

    INSERT INTO #temp (SiparisId, MusteriId, SiparisTarihi, Durum, UserId)
    SELECT SiparisId, MusteriId, SiparisTarihi, Durum, UserId
    FROM OPENJSON(@jsonvalues)
    WITH (
        SiparisId int '$.SiparisId',
        MusteriId int '$.MusteriId',
        SiparisTarihi datetime2 '$.SiparisTarihi',
        Durum nvarchar(50) '$.Durum',
        UserId nvarchar(450) '$.UserId'
    );

    DECLARE @rowcount INT = 0;

    IF LOWER(LTRIM(RTRIM(@operation))) = 'add'
    BEGIN
        INSERT INTO dbo.Siparisler (MusteriId, SiparisTarihi, Durum, UserId)
        SELECT MusteriId, ISNULL(SiparisTarihi, GETDATE()), ISNULL(Durum, N'Hazırlanıyor'), UserId
        FROM #temp;
        SET @rowcount = @@ROWCOUNT;
    END
    ELSE IF LOWER(LTRIM(RTRIM(@operation))) = 'update'
    BEGIN
        UPDATE s
        SET s.MusteriId = t.MusteriId,
            s.SiparisTarihi = t.SiparisTarihi,
            s.Durum = t.Durum,
            s.UserId = ISNULL(t.UserId, s.UserId)
        FROM #temp t
        JOIN dbo.Siparisler s ON s.SiparisId = t.SiparisId;
        SET @rowcount = @@ROWCOUNT;
    END
    ELSE IF LOWER(LTRIM(RTRIM(@operation))) = 'remove'
    BEGIN
        DELETE s
        FROM #temp t
        JOIN dbo.Siparisler s ON s.SiparisId = t.SiparisId;
        SET @rowcount = @@ROWCOUNT;
    END

    SELECT @operation AS [Key], IIF(@rowcount > 0, 1, 0) AS [Value];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisDetay_BySiparisId]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SiparisDetay_BySiparisId]
    @SiparisId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        sd.SiparisDetayId,
        sd.SiparisId,
        sd.UrunId,
        u.UrunAdi,
        sd.Miktar,
        sd.BirimFiyat,
        CAST(sd.Miktar * sd.BirimFiyat AS DECIMAL(18,2)) AS Tutar
    FROM dbo.SiparisDetaylari sd
    LEFT JOIN dbo.Urunler u ON u.UrunId = sd.UrunId
    WHERE sd.SiparisId = @SiparisId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisEkle]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SiparisEkle]
    @MusteriId INT,
    @Durum dbo.DurumType = N'Beklemede'
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Siparisler(MusteriId,Durum) VALUES(@MusteriId,@Durum);
    DECLARE @YeniId INT = SCOPE_IDENTITY();
    SELECT @YeniId AS SiparisId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Siparisler]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4) sp_Siparisler */
CREATE   PROCEDURE [dbo].[sp_Siparisler]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where      dbo.Type_Dictionary_String_String READONLY,
    @UserId     NVARCHAR(450) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PageNumber INT = 1,
            @PageSize   INT = 10;

    SELECT @PageNumber = TRY_CAST([Value] AS INT)
    FROM @pagination WHERE [Key] = 'PageNumber';

    SELECT @PageSize = TRY_CAST([Value] AS INT)
    FROM @pagination WHERE [Key] = 'PageSize';

    IF @PageNumber IS NULL OR @PageNumber < 1 SET @PageNumber = 1;
    IF @PageSize   IS NULL OR @PageSize   < 1 SET @PageSize   = 10;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    ;WITH base AS
    (
        SELECT
            s.SiparisId,
            s.MusteriId,
            s.SiparisTarihi,
            s.Durum,
            s.UserId,
            COUNT(*) OVER() AS TotalRecordCount
        FROM dbo.Siparisler s
        WHERE (@UserId IS NULL OR s.UserId = @UserId)
    )
    SELECT *
    FROM base
    ORDER BY SiparisId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur_TVP]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SiparisOlustur_TVP]
(
    @MusteriId INT,
    @SiparisTarihi DATETIME2,
    @Durum NVARCHAR(50),
    @UserId NVARCHAR(450) = NULL,
    @tt_SiparisDetay dbo.tt_SiparisDetay READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewId INT;

    INSERT INTO dbo.Siparisler (MusteriId, SiparisTarihi, Durum, UserId)
    VALUES (@MusteriId, @SiparisTarihi, @Durum, @UserId);

    SET @NewId = SCOPE_IDENTITY();

    INSERT INTO dbo.SiparisDetaylari (SiparisId, UrunId, Miktar, BirimFiyat)
    SELECT @NewId, t.UrunId, t.Miktar, t.BirimFiyat
    FROM @tt_SiparisDetay t;

    SELECT 'add' AS [Key], IIF(ISNULL(@NewId,0) > 0, 1, 0) AS [Value], @NewId AS NewId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Urun_Add_Update_Remove]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Urun_Add_Update_Remove] @operation varchar(10), @jsonvalues nvarchar(max) AS BEGIN SET NOCOUNT ON;
IF OBJECT_ID('tempdb..#temp') IS NOT NULL
    DROP TABLE #temp;

CREATE TABLE #temp (
    UrunId int,
    UrunAdi nvarchar(200),
    SKU nvarchar(64),
    BirimFiyat decimal(10,2),
    StokAdet int,
    AktifMi bit
);

INSERT INTO #temp (UrunId, UrunAdi, SKU, BirimFiyat, StokAdet, AktifMi)
SELECT UrunId, UrunAdi, SKU, BirimFiyat, StokAdet, AktifMi
FROM OPENJSON(@jsonvalues)
WITH (
    UrunId int '$.UrunId',
    UrunAdi nvarchar(200) '$.UrunAdi',
    SKU nvarchar(64) '$.SKU',
    BirimFiyat decimal(10,2) '$.BirimFiyat',
    StokAdet int '$.StokAdet',
    AktifMi bit '$.AktifMi'
);

DECLARE @rowcount INT = NULL;

IF LOWER(RTRIM(LTRIM(@operation))) = 'add'
BEGIN
    INSERT INTO dbo.Urunler (UrunAdi, SKU, BirimFiyat, StokAdet, AktifMi)
    SELECT UrunAdi, SKU, BirimFiyat, StokAdet, ISNULL(AktifMi, 1)
    FROM #temp;

    SET @rowcount = @@ROWCOUNT;
END
ELSE IF LOWER(RTRIM(LTRIM(@operation))) = 'update'
BEGIN
    UPDATE u
    SET
        u.UrunAdi = t.UrunAdi,
        u.SKU = t.SKU,
        u.BirimFiyat = t.BirimFiyat,
        u.StokAdet = t.StokAdet,
        u.AktifMi = ISNULL(t.AktifMi, u.AktifMi)
    FROM #temp t
    JOIN dbo.Urunler u ON u.UrunId = t.UrunId;

    SET @rowcount = @@ROWCOUNT;
END
ELSE IF LOWER(RTRIM(LTRIM(@operation))) = 'remove'
BEGIN
    DELETE u
    FROM #temp t
    JOIN dbo.Urunler u ON u.UrunId = t.UrunId;

    SET @rowcount = @@ROWCOUNT;
END

SELECT @operation AS [Key], IIF(ISNULL(@rowcount,0) > 0, 1, 0) AS [Value];
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunListele]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UrunListele]
    @pagination dbo.Type_Dictionary_String_String READONLY,
    @where dbo.Type_Dictionary_String_String READONLY
AS
BEGIN
    SELECT u.*,
           (SELECT COUNT(*) FROM dbo.Urunler) AS TotalRecordCount
    FROM dbo.Urunler u;
END
GO
/****** Object:  Trigger [dbo].[trg_SiparisDetaylari_AD]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[trg_SiparisDetaylari_AD]
ON [dbo].[SiparisDetaylari]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    ;WITH cte AS (
        SELECT UrunId, SUM(Miktar) AS ToplamMiktar
        FROM deleted
        GROUP BY UrunId
    )
    UPDATE u
    SET StokAdet = u.StokAdet + c.ToplamMiktar
    FROM dbo.Urunler u
    JOIN cte c ON c.UrunId = u.UrunId;
END;
GO
ALTER TABLE [dbo].[SiparisDetaylari] ENABLE TRIGGER [trg_SiparisDetaylari_AD]
GO
/****** Object:  Trigger [dbo].[trg_Siparisler_Log]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Siparisler_Log]
ON [dbo].[Siparisler]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @op NVARCHAR(20) =
        CASE
            WHEN EXISTS(SELECT 1 FROM inserted) AND EXISTS(SELECT 1 FROM deleted) THEN 'UPDATE'
            WHEN EXISTS(SELECT 1 FROM inserted) THEN 'INSERT'
            ELSE 'DELETE'
        END;

    INSERT dbo.Logs_Table(TableName, Operation, KeyInfo, JsonData, UserName)
    SELECT
        'Siparisler',
        @op,
        CONCAT('SiparisId=', COALESCE(CONVERT(NVARCHAR(50), i.SiparisId), CONVERT(NVARCHAR(50), d.SiparisId))),
        (SELECT TOP 1 * FROM inserted i FOR JSON AUTO),
        SUSER_SNAME()
    FROM inserted i
    FULL JOIN deleted d ON i.SiparisId = d.SiparisId;
END

GO
ALTER TABLE [dbo].[Siparisler] ENABLE TRIGGER [trg_Siparisler_Log]
GO
/****** Object:  Trigger [dbo].[trg_Urunler_Log]    Script Date: 24.12.2025 17:28:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_Urunler_Log]
ON [dbo].[Urunler]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @op NVARCHAR(20) =
        CASE
            WHEN EXISTS(SELECT 1 FROM inserted) AND EXISTS(SELECT 1 FROM deleted) THEN 'UPDATE'
            WHEN EXISTS(SELECT 1 FROM inserted) THEN 'INSERT'
            ELSE 'DELETE'
        END;

    INSERT dbo.Logs_Table(TableName, Operation, KeyInfo, JsonData, UserName)
    SELECT
        'Urunler',
        @op,
        CONCAT('UrunId=', COALESCE(CONVERT(NVARCHAR(50), i.UrunId), CONVERT(NVARCHAR(50), d.UrunId))),
        (SELECT TOP 1 * FROM inserted i FOR JSON AUTO),
        SUSER_SNAME()
    FROM inserted i
    FULL JOIN deleted d ON i.UrunId = d.UrunId;
END

GO
ALTER TABLE [dbo].[Urunler] ENABLE TRIGGER [trg_Urunler_Log]
GO
USE [master]
GO
