

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SAT242516033</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<nav class="nav flex-column nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/kullanicilar" Match="NavLinkMatch.Prefix">
            <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Kullanıcılar
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/uretim-hatlari" Match="NavLinkMatch.Prefix">
            <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> Üretim Hatları
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/hata-tipleri" Match="NavLinkMatch.Prefix">
            <span class="bi bi-exclamation-triangle-fill-nav-menu" aria-hidden="true"></span> Hata Tipleri
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/hata-kayitlari" Match="NavLinkMatch.Prefix">
            <span class="bi bi-clipboard-data-fill-nav-menu" aria-hidden="true"></span> Hata Kayıtları
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/logs" Match="NavLinkMatch.Prefix">
            <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Logs
        </NavLink>
    </div>

    <AuthorizeView Context="authContext">
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.Prefix">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Çıkış
                </NavLink>
            </div>
        </Authorized>

        <NotAuthorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login" Match="NavLinkMatch.Prefix">
                    <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</nav>
