<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SAT242516033.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* Prerender false: Login düşme sorununu engeller *@
    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
</head>
<script src="js/lang.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="js/charts.js"></script>
<body>
    <Routes @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>