@using SAT242516033.Components.Layout
@using SAT242516033.Components.Account.Pages 
@* RedirectToLogin bileşeni neredeyse onun namespace'i lazım, muhtemelen Pages altındadır *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @* AuthorizeRouteView: Yetkili mi diye bakar *@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        @* Namespace belirtmeden direkt çağırıyoruz *@
                        <SAT242516033.Components.RedirectToLogin />
                        @* Eğer dosya Components klasöründeyse yukarıdaki gibi tam yol ver *@
                    }
                    else
                    {
                        <p role="alert">Bu sayfayı görüntülemeye yetkiniz yok.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Bulunamadı</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Aradığınız sayfa bulunamadı.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>